body {
  background: #1a1a1a;
  color: #c4c1c1;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #eeeaea;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #425d6a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #262121;
  color: #ffffff;
  padding: 10px 20px;
  border: 1px solid rgba(97, 108, 167, 0.66);
  border-radius: 3px;
  margin-bottom: 20px;

}

.article-title {
  color: #ffffff;
}

a.article-title:hover {
  color: #454444;
  text-decoration: none;
}
.img2
{
    max-width: 25px;
    max-height: 25px;
    align: left;

}
.article-content {
  white-space: pre-line;
  color: #a7a4a4;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #979595
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;

}
/*.lightitems{
    align-items: center;
}
<div>
    <a href><img class="img2" src="{% static 'blog/images/lamp.png' %}"></a>
</div>
*/

p.article-content{
  color: #f8f6f6;
}

.img1
{
  /*width: 640px;
    height: 640px;*/
    max-width: 100%;
    max-height: 80%;



}
#logmain
{
  align: left;

}
.ENJBTN
{
    border: none;
    border-radius: 20px;
    background: #289e76;
    text-align: center;
    color:white;
   /* max-width: 20%;*/
}

.ENJBTN:hover {
  color: #19321d;
  text-decoration: none;
}
