{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <section id="about">
    <div class="container">
        <div class="row">

                <div class="about-content">
                    Cantaritos, Of course, there is no such a word that can describe our team but let's give it a try.
We are 6 members. each of us is full of skills and knowledge. that you can't find anywhere in the world. In the field, we don't think anyone can be our opponent but we know that life is full of surprises and that's why we left one slot for Amazon. They can try.  GOOD LUCK Amazon.
                </div>
                <button type="button" class="btn btn-primary">Read More

                </button>



        </div>

    </div>

</section>
{% endblock content %}
