<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'blog/coollog.css' %}">
</head>
<body>
<!--<img class="wave" src="Media/images/Yatch.svg">--->
<div class="container">
    <div class="img">
        <img src="{% static 'images/signUp.svg' %}">
    </div>
    <div class="login-content">
        <form METHOD='POST'>
			{% csrf_token %}
			<fieldset class="form-group">
            <img src="{% static 'images/avatar.svg' %}">
           <!-- <h1 class="title">Just Fill It, It Will Fit In</h1>-->
            <!--UserName-->
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">

                    <input type="text" name="u" placeholder="Username" required="required" />
                </div>
            </div>
                <!--Email-->
            <div class="input-div two">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">

                    <input type="text" name="u" placeholder="Email" required="required" />
                </div>
            </div>

            <!--Password-->

            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">

                    <input type="password" name="p" placeholder="Password" required="required" />
                </div>
            </div>
			</fieldset>
            <input type="submit" class="btn" value="Sign Up" href='cantaritos-login'>
        </form>
    </div>
</div>
